<%- include('./parties/tete.ejs') %>
<link href="https://cdn.jsdelivr.net/npm/lightbox2@2.11.3/dist/css/lightbox.min.css" rel="stylesheet" />
<h1 id="titre">Page de gestion</h1>
<div id="divResultat"></div>
<div id="divImages">
    <% if (imagesUtilisateur != "") { %>
    <table>
        <thead>
            <tr>
                <th>Nom</th>
                <th>Image</th>
                <th>Détails</th>
                <th>Supression</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i = 0; i < imagesUtilisateur.length; i++) {%>
            <tr data-id="<%= imagesUtilisateur[i].nomFichier %>">
                <td><%= imagesUtilisateur[i].nomImage %></td>
                <!-- <td><img src="/data/<%= imagesUtilisateur[i].nomFichier %>" alt="Nom image : <%= imagesUtilisateur[i].nomImage %>" /></td> -->
                <td>
                    <!-- <a>Afficher l'image</a> -->
                    <a href="../img/<%= imagesUtilisateur[i].nomFichier %>" data-lightbox="gallery"><img src="../img/<%= imagesUtilisateur[i].nomFichier %>" alt="Image" class="imagesEspaceSauvegarde" /></a>
                </td>
                <td>
                    <a class="boutonDetails">Afficher les détails</a>
                </td>

                <td>
                    <a class="boutonSupprimer">Supprimer l'image</a>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <% } else {%>
    <p>Vous n'avez pas enregistrer d'image</p>
    <% } %>
</div>
<script src="https://cdn.jsdelivr.net/npm/lightbox2@2.11.3/dist/js/lightbox-plus-jquery.min.js"></script>
<%- include('./parties/pied.ejs') %>
