<%- include('./parties/tete.ejs') %>
<h1 id="titre">Page de gestion</h1>
<div id="divResultat"></div>
<div id="divImages">
    <% if (imagesUtilisateur != "") { %>
    <table id="tableauImages" class="table table-striped mt-3">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Image</th>
                <th>Détails</th>
                <th>Supression</th>
            </tr>
        </thead>
        <tbody>
            <% for(let i = 0; i < imagesUtilisateur.length; i++) {%>
            <tr data-id="<%= imagesUtilisateur[i].id %>">
                <td><%= imagesUtilisateur[i].nomImage %></td>
                <!-- <td><img src="/data/<%= imagesUtilisateur[i].nomFichier %>" alt="Nom image : <%= imagesUtilisateur[i].nomImage %>" /></td> -->
                <td>
                    <!-- <a href="../img/<%= imagesUtilisateur[i].nomFichier %>" data-lightbox="gallery"><img src="../img/<%= imagesUtilisateur[i].nomFichier %>" alt="Image" class="imagesEspaceSauvegarde" /></a> -->
                    <a href="../img/<%= imagesUtilisateur[i].nomFichier %>" data-lightbox="gallery"><p class="lien">Afficher l'image</p></a>
                </td>
                <td>
                    <a class="boutonDetails lien" data-toggle="modal" data-target="#modal<%= imagesUtilisateur[i].id %>">Afficher les détails</a>
                    <!-- Modale -->
                    <div class="modal fade" id="modal<%= imagesUtilisateur[i].id %>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="exampleModalLabel">Détail de <%= imagesUtilisateur[i].nomImage %></h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <% if(imagesUtilisateur[i].visites) { %>
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>Date</th>
                                                <th>Qui ?</th>
                                            </tr>
                                        </thead>
                                        <% for(let l = 0; l < imagesUtilisateur[i].visites.length; l ++) { %>
                                        <tr data-id="<%= imagesUtilisateur[i].visites[l].id %>">
                                            <td><%= imagesUtilisateur[i].visites[l].date %></td>
                                            <td>
                                                <select class="typeUtilisateur">
                                                    <% if(imagesUtilisateur[i].visites[l].typeVisiteur == "inconnu") { %>
                                                    <option value="inconnu" selected>Inconnu</option>
                                                    <option value="moi">Moi</option>
                                                    <option value="destinataire">Le destinataire</option>

                                                    <% } else if(imagesUtilisateur[i].visites[l].typeVisiteur == "moi") {%>
                                                    <option value="inconnu">Inconnu</option>
                                                    <option value="moi" selected>Moi</option>
                                                    <option value="destinataire">Le destinataire</option>

                                                    <% } else if(imagesUtilisateur[i].visites[l].typeVisiteur == "destinataire") {%>
                                                    <option value="inconnu">Inconnu</option>
                                                    <option value="moi">Moi</option>
                                                    <option value="destinataire" selected>Le destinataire</option>

                                                    <% } %>
                                                </select>
                                            </td>
                                        </tr>
                                        <% } %>
                                    </table>
                                    <% } else { %>
                                    <p>Il y a pas de visite enregistrer sur l'image</p>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </td>

                <td>
                    <a class="boutonSupprimer lien">Supprimer l'image</a>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
    <% } else {%>
    <p>Vous n'avez pas enregistrer d'image</p>
    <% } %>
</div>
<script src="https://cdn.jsdelivr.net/npm/lightbox2@2.11.3/dist/js/lightbox-plus-jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<%- include('./parties/pied.ejs') %>
